.menu{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  
}

.menu_button{
  width: fit-content;
  height: fit-content;
  margin: 5px;
  border-radius: 5px;
  border-width: 1px;
  background-color: rgb(167, 236, 167);
}

.top_img{
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: -1;
}

.bottom_img {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  z-index: -1;
}

