.menu {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.menu_button {
  width: fit-content;
  height: fit-content;
  margin: 5px;
  border-radius: 5px;
  border-width: 1px;
  background-color: lightgreen;
  padding: 5px 10px;
}

.link {
  width: fit-content;
  height: fit-content;
}

.link:hover {
  cursor: default;
}

.link .menu_button:hover {
  cursor: pointer;
}
