.menu{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  
}

.menu_button{
  width: fit-content;
  height: fit-content;
  margin: 5px;
  border-radius: 5px;
  border-width: 1px;
  background-color: lightgreen;
  padding: 5px 10px;
}

.top_img{
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: -1;
}
