.Login{
  height: auto;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_input{
  width: 30%;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  background: #f5f5f5;
}


.forms_button{
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  border-width: 1px;
  background-color: lightgreen;
  padding: 5px 10px;
}